*{
    padding: 0;
    margin:0;
}
p{
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 1220px){
    html {
        font-size: 62.5%;
    }
}
@media screen and (max-width: 992px) {
    html {
        font-size: 52.5%;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 42.5%;
    }
}
body {
    font-family: Microsoft YaHei, serif;
}
img{
    max-width: 100%;
    vert-align: top;
}
ul {
    list-style: none;
    margin: 0;
}
a {
    text-decoration: none;
}
a:link{
    color: #999;
    text-decoration: none;
}
a:visited{
    color: #999;
    text-decoration: none;
}
a:active{
    color: #999;
    text-decoration: none;
}
a:hover{
    color: #999;
    text-decoration: none;
}
.row{
    padding: 0;
    margin: 0;
}
.header{
    overflow: hidden;
    background: #1277dc;
}

.header-top{
    overflow: hidden;
    font-size: 1.4rem;
    line-height: 4rem;
    color: #fff;
    vertical-align: middle;
}
.header-top li {
    display: inline-block;
    text-align: center;
}
.login{
    width: 5.5rem;
}
.reginster{
    width: 10rem;
    color: #333;
    background: #fff;
}
nav {
    background: #f9f9f9;
}
.header-bottom{
    overflow: hidden;
}
.header-bottom  .navbar{
    float: right;
}
.header-bottom .navbar li{
    display: inline-block;
    padding: 1rem;
    margin: 2rem;
    font-size: 1.6rem;
    color: #333;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}
.header-bottom .navbar .home{
    background: #1277dc;
}
.header-bottom .navbar .home a{
    color:#ffffff;
}
.main{
    margin: 0 auto;
}
.main .step{
    overflow: hidden;
    border: 1px solid black;
    padding:3rem 0;
}
.main .step ul{
    float: right;
    width: 100%;
    max-width: 630px;
    margin-top: 1rem;
}
.main .step ul li{
    display: inline-block;
    width: 23%;
    color: #cccccc;
    border-top: 3px solid #ccc;
}
.main .step ul li p{
    position: relative;
    top: -1.2rem;
    left: 40%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    background: #ccc;
    border-radius: 50%;
}
@media screen and (max-width: 410px) {
    .main .step ul li p {
        top: -1rem;
        left: 40%;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
    }
}
.main .step ul li h4 {
    padding: 1rem 0;
    font-size: 1.8rem;
    text-align: center;
}
.main .step ul li.step1{
    color: #ff7f00;
    border-color:#ff7f00;
}
.main .step ul li.step1 p{
    color: #ffffff;
    background: #ff7f00;
}
.main .guidance{
    padding-left: 2rem;
    margin:2rem 0;
    font-size: 2.5rem;
    border-left:3px solid #1277dc;
}
.main .type,
.main .size,
.main .texture {
    padding: 1rem 1rem;
    font-size: 1.8rem;
    color: #1277dc;
    background: #f3f3f3;
    /* border-radius: 5px;*/
}
.main .type1,
.main .size1,
.main .size2,
.main .texture1{
    margin: 0 auto;
    width: 100%;
    font-size: 1.8rem;
    color: #666;
    background: #fbfcff;
    border: 1px solid #e7e7e7;
}
.main .size1{
    border-bottom: none;
}
.main .size2{
    border-top: none;
}
.main label {
    margin: 2rem 0;
    font-weight: normal;
}
.main .box {
    width: 6rem;
    height: 2rem;
}
.main input[type=radio] + span {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 1rem;
    border: solid 1px black;
    border-radius: .7rem;
}
.main input[type=radio]:checked + span {
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 1rem;
    border: solid .6rem #1277dc;
    border-radius: .8rem;
}
.main .select1,
.main .select2,
.main .select3 {
    float: right;
}
.seletc2{
    top: -4rem;
}
.main select::-ms-expand {
    display: none;
}